{% comment %}
    @param {Boolean} center 
{% endcomment %}

{% if include.center %}
<ul class="list-inline text-center">
{% else %}
<ul class="list-inline">
{% endif %}

  {% if site.RSS %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}

  {% if site.github_username %}
  <li>
    <a target="_blank" href="https://github.com/{{ site.github_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}

  {% if site.weibo_username %}
  <li>
    <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}


  {% if site.tuchong_username %}
  <li>
    <a target="_blank" href="http://{{ site.tuchong_username }}.tuchong.com/">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-stack-1x fa-inverse">图</i>
      </span>
    </a>
  </li>
  {% endif %}

  {% if site.zhihu_username %}
  <li>
    <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa  fa-stack-1x fa-inverse">知</i>
      </span>
    </a>
  </li>
  {% endif %}

  <!--Wechat Official Accounts-->
  {% if site.wechatofficial_username %}
  <li>
    <a target="_blank"
      href="https://weixin.sogou.com/weixin?type=1&s_from=input&query={{ site.wechatofficial_username }}&ie=utf8&_sug_=n&_sug_type_=">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-stack-1x fa-inverse">七</i>
      </span>
    </a>
  </li>
  {% endif %}

  <!--linkedin-->
  {% if site.linkedin_username %}
  <li>
    <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}

  <!--loft-->
  {% if site.loft_username %}
  <li>
    <a target="_blank" href="http://{{ site.loft_username }}.lofter.com/">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-stack-1x fa-inverse">L</i>
      </span>
    </a>
  </li>
  {% endif %}
  
  {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}

  {% if site.facebook_username %}
  <li>
    <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  </ul>